body {
	
	background: #cccccc
}

#banner {
	
}

h1 {
     text-align:center
}

p {
     text-align: center;
}

#missao {
	font-size: 20 px;
}

em strong {
	
	color: green;
}

.itens {
	font-style: italic ;
}

